# Database Configuration
AGENSGRAPH_DB=ioc-graph-db
AGENSGRAPH_USER=agensgraphUser
AGENSGRAPH_PASSWORD=agensgraphPW
AGENSGRAPH_PORT=5456
AGENSGRAPH_PORT_UI=3000

POSTGRES_DB=tkf
POSTGRES_USER=postgresUser
POSTGRES_PASSWORD=postgresPW
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

NEO4J_DATABASE=tkf
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=neo4jPassWord
NEO4J_HOST=localhost
NEO4J_PORT=7687 # Used by server
NEO4J_PORT_HTTP=7474 # Used for UI

# Database Debug (set to True to see SQL queries)
DB_ECHO=False

# Application Configuration
APP_NAME=CI TKF Data Logic Service
DEBUG=True
LOG_LEVEL=INFO

ADMIN_USER_PASSWORD=adminPW
