# Database Configuration
AGENSGRAPH_DB=ioc-graph-db
AGENSGRAPH_USER=agensgraphUser
AGENSGRAPH_PASSWORD=agensgraphPW
AGENSGRAPH_PORT=5456
AGENSGRAPH_PORT_UI=5457

# Database Debug (set to True to see SQL queries)
DB_ECHO=False

# Application Configuration
APP_NAME=IOC Knowledge Memory Service
DEBUG=True
LOG_LEVEL=INFO
MEMORY_PROVIDER_REGISTRATION_URL=http://localhost:9000

ADMIN_USER_PASSWORD=adminPW
