# Database Configuration
POSTGRES_DB=tkf_relational_db
POSTGRES_USER=postgresUser
POSTGRES_PASSWORD=postgresPW
POSTGRES_HOST=localhost
POSTGRES_PORT=5455

NEO4J_DATABASE=neo4j
NEO4J_HOST=localhost
NEO4J_PORT=7687 # Used by server
NEO4J_PORT_HTTP=7474 # Used for UI

# Database Debug (set to True to see SQL queries)
DB_ECHO=False

# Application Configuration
APP_NAME=CI TKF Data Logic Service
DEBUG=True
LOG_LEVEL=INFO

ADMIN_USER_PASSWORD=adminPW
